#loading-screen {
    min-width: 100%;
    min-height: 100%;
    background-color: var(--background);
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 400ms ease-in-out;
}

.loading-item {
    margin: 3px 0;
    opacity: 0;
    transition: opacity 250ms ease-in-out;
}

.nav-item.active {
    color: var(--foreground);
    background-color: var(--background-3);
    cursor: pointer;
}
.nav-item.inactive {
    color: var(--foreground);
    background-color: var(--background-2);
    cursor: pointer;
    transition: background-color 250ms ease-in-out;
}
.nav-item.inactive:hover {
    background-color: var(--background-3);
}

header .inline-block {
    padding: 3px 7px;
}

.core-1-bar, .core-2-bar {
    background-color: var(--highlight-red);
}

.project-tag {
    color: var(--background);
    border-radius: 5px;
}
.project-wrapper {
    cursor: pointer;
    user-select: none;
    border-radius: 10px;
    transition: background-color 250ms ease-in-out;
}
.project-wrapper:hover, .project-wrapper.active {
    background-color: var(--background-2);
}
